[train] #train parameters
epoch = 3
batch_size = 16

reader_num = 4

optimizer = bert_adam
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 16

reader_num = 4

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = BertPairText
train_data_path = /data/disk2/private/guozhipeng/syq/coliee/Task2/processed
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = BertPairText
valid_data_path = /data/disk2/private/guozhipeng/syq/coliee/Task2/processed
valid_file_list = test.json

test_dataset_type = JsonFromFiles
test_formatter_type = BertPairText
test_data_path = /data/disk2/private/guozhipeng/syq/coliee/Task2/processed
test_file_list = test.json

recursive = False
json_format = line

max_seq_length = 512

[model] #model parameters
model_name = BertPoolOut

bert_path = /data/disk2/private/guozhipeng/syq/coliee/pretrain_models/bert-base-uncased

output_dim = 2
output_mode = classification

[output] #output parameters
output_time = 1
test_time = 1

model_path = output/model
model_name = task2_poolout_test

tensorboard_path = output/tensorboard

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,macro_precision,macro_recall,macro_f1

tqdm_ncols = 150
